<header class="site-header">

  <div class="wrapper">

    <div class="row">
      <div class="col-xs-12">
        <a class="site-title" href="{{ site.baseurl }}/">
          <span class="icon-logo-text" alt="EARTHscapes"></span>
        </a>
        <div id="nav-icon1" class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <span class="phone-number">(512) 413-7233 </span>
        <ul class="nav nav-tabs nav-tabs-justified navbar-right">
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Services <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <span class="title">Landscape</span>
                  <span class="description">Tree care, grass, and plants</span>
                </li>
                <li>
                  <span class="title">Hardscape</span>
                  <span class="description">Patios, decks, fences, retaining walls, drainage</span>
                </li>
                <li>
                  <span class="title">Outdoor Living</span>
                  <span class="description">Fireplaces, firepits</span>
                </li>
              </ul>
            </li>
            <li role="presentation">
              <a href="{{ my_page.url | prepend: site.baseurl }}">Contact</a>
            </li>
        </ul>
      </div>
    </div>

  </div>

</header>
