/**
 * Site header
 */
.site-header {
    min-height: 56px;
    background: $brand-color url('../images/brick-pattern.jpg');
    border-bottom: 8px solid #ffffff;
    // Positioning context for the mobile navigation icon
    position: relative;
    @include media-query($on-palm) {
        height: 100px;
    }
}

.wrapper {
    position: relative;
}

.site-title, .site-title:visited, .site-title:hover {
    display: inline-block;
    font-family: $filson-soft;
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
    color: #ffffff;
    text-decoration: none;
    [class^="icon"] {
        font-size: 400%;
    }
    .text {
        position: relative;
        left: -1.5rem;
        top: -1.8rem;
    }
    strong {
        font-weight: 700;
        font-size: 130%;
        letter-spacing: 1px;
    }
    @include media-query($on-palm) {
        .text {
            top: -2.8rem;
        }
    }
}

.phone-number {
    color: #ffffff;
    font-family: $filson-soft;
    @include media-query($on-laptop) {
        margin-top: 10px;
        float: right;
    }
    @include media-query($on-palm) {
        background: $brand-color;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: block;
        padding: $spacing-unit * 0.5;
        text-align: center;
        &:before {
            content: 'Call now: ';
        }
    }
}

.menu-icon {
    display: none;
    float: right;
    top: 35px;
    cursor: pointer;
    width: 35px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #ffffff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2) {
            top: 10px;
        }
        &:nth-child(3) {
            top: 20px;
        }
    }

    &.open {
        span {
            &:nth-child(1) {
                top: 12px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }
            &:nth-child(2) {
                opacity: 0;
                left: -60px;
            }

            &:nth-child(3) {
                top: 12px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
        }
    }

    @include media-query($on-palm) {
        display: inline-block;
    }
}

.nav {
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    right: 0;
    bottom: 1px;
    font-family: $filson-soft;

    & > li {
        border: 2px solid #ffffff;
        border-width: 2px 2px 0;
        margin-right: 10px;
        &.open, &:hover {
            border-color: $brand-color-dark !important;
            a {
                border-radius: 0;
                background-color: $brand-color-dark !important;
            }
        }

        a {
            color: #ffffff;
            border: 0;
        }
    }

    .dropdown-menu {
        left: -2px !important;
        background: $brand-color-dark;
        color: #ffffff;
        font-size: 18px;
        padding: 0;
        border: none;
        border-radius: 0;
        min-width: 260px;
        li {
            padding: 10px;
            cursor: pointer;
            &:hover {
                background: $brand-color;
            }
        }
        .title, .description {
            display: block;
        }
        .description {
            font-size: 13px;
            font-weight: 100;
            opacity: 0.65;
        }
    }


    @include media-query($on-palm) {
        display: none;
        position: absolute;
        top: 100px;
        z-index: 999;
        width: 100%;
        li {
            background: $brand-color;
            display: block;
            float: none;
            margin-right: 0;
            border: none;
            text-align: right;
        }
        .dropdown-menu {
            right: 0;
        }
    }
}


.home {
    .intro {
        padding-top: $spacing-unit * 3;
        background: url('../images/firepit-1b.jpg') no-repeat;
        background-size: cover;
        background-position-y: 15%;
        width: 100%;
        height: 40rem;
        color: #ffffff;
        text-shadow: 0 0 5px #000;
        h4 {
            font-weight: 100;
        }
        .button {
            background: rgba(255,255,255,0.125);
            color: #fff;
            border-color: #fff;
            text-shadow: 0 0 5px #000;
            font-family: $filson-soft;
            margin-top: $spacing-unit * 0.5;
            &:hover {
                background: #ffffff;
                color: #333333;
                text-shadow: none;
            }
        }
        @include media-query($on-palm){
            padding-top: $spacing-unit;
            background-position-x: 5%;
        }
    }

    .services {
        text-align: center;
        ul {
            margin: 0 0 $spacing-unit;
            list-style-type: none;
        }
    }

}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    min-height: 20rem;
    //background: #ffffff;
    .wrapper {
        padding: $spacing-unit;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
