/**
 * Site header
 */
.site-header {
    min-height: 56px;
    background: $brand-color url('../images/brick-pattern.jpg');
    border-bottom: 8px solid #ffffff;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.wrapper {
    position: relative;
}

.site-title, .site-title:visited, .site-title:hover {
    display: inline-block;
    font-family: 'Filson-soft', 'Open sans', sans-serif;
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
    color: #ffffff;
    text-decoration: none;
    [class^="icon"] {
        font-size: 400%;
        margin-left: -1 * $spacing-unit;
    }
    .text {
        position: relative;
        left: -1.5rem;
        top: -1.8rem;
    }
    strong {
        font-weight: 700;
        font-size: 130%;
        letter-spacing: 1px;
    }

}



.nav {
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    right: 0;
    bottom: 1px;
    font-family: 'filson-soft', 'open-sans', sans-serif;

    .menu-icon {
        display: none;
    }

    & > li {
        border: 2px solid #ffffff;
        border-width: 2px 2px 0;
        margin-right: 10px;
        &.open, &:hover {
            border-color: $brand-color-dark !important;
            a {
                border-radius: 0;
                background-color: $brand-color-dark !important;
            }
        }

        a {
            color: #ffffff;
            border: 0;
        }
    }

    .dropdown-menu {
        left: -2px !important;
        background: $brand-color-dark;
        color: #ffffff;
        font-size: 18px;
        padding: 0;
        border: none;
        border-radius: 0;
        min-width: 260px;
        li {
            padding: 10px;
            cursor: pointer;
            &:hover {
                background: $brand-color;
            }
        }
        .title, .description {
            display: block;
        }
        .description {
            font-size: 13px;
            font-weight: 100;
            opacity: 0.65;
        }
    }


    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


.home {
    .intro {
        padding-top: $spacing-unit * 3;
        background: url('../images/firepit-1b.jpg') no-repeat;
        background-size: cover;
        background-position-y: 15%;
        width: 100%;
        height: 40rem;
        color: #ffffff;
        text-shadow: 0 0 5px #000;
        h4 {
            font-weight: 100;
        }
        .button {
            background: rgba(255,255,255,0.125);
            color: #fff;
            border-color: #fff;
            text-shadow: 0 0 5px #000;
            font-family: 'filson-soft';
            margin-top: $spacing-unit * 0.5;
            &:hover {
                background: #ffffff;
                color: #333333;
                text-shadow: none;
            }
        }
    }

    .services {
        text-align: center;
        ul {
            margin: 0 0 $spacing-unit;
            list-style-type: none;
        }
    }

}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    min-height: 20rem;
    //background: #ffffff;
    .wrapper {
        padding: $spacing-unit;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
