<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

  <script src="{{ "/node_modules/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/javascripts/helpers.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/javascripts/blueimp-gallery.min.js" | prepend: site.baseurl }}"></script>

  <script>
  document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {index: link, event: event},
            links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
  };
  </script>

</html>
